*{
    margin: 0;
    padding: 0;
    color: white;
    font-family: 'Montserrat', sans-serif;
    font-size: 17px;
}
body{
    background-color: #10002b;
    width: 100%;
    -webkit-box-shadow: inset -9px 0px 20px -6px black;
-moz-box-shadow: inset -9px 0px 20px -6px black;
box-shadow: inset -9px 0px 20px -6px black;
}
/*********COMIENZA BARRA DE NAVEGACION**********/
nav{
    display: flex;
    justify-content: flex-end;
    padding: 20px 0px;
    position: fixed;
    width: 100%;
    overflow: hidden;
    text-align: center;
    box-shadow: 1px 1px 20px black;
    background-color: #10002b;
    
    
}
nav a{
    text-decoration: none;
    color: white;
    list-style: none;
    display: inline-block;
    padding: 7px 14px 8px 14px;
    margin-right: 40px;
   /* border: 1px solid white;*/
    
}
nav a:hover{
    color: #c9184a ;
}
.boton{
    background-color: #c9184a;
    border-radius: 18px;
    width: 7em;
    height: 1.2em;
}
.boton:hover{
    color: white;
    background-color: #E64A76;
}
/*************FINALIZA BARRA DE NAVEGACION************/


/*************COMIENZA LA SECCION SOBRE MI**********/
.section{
    display: flex;
    justify-content: center;
    /*border: 1px solid black;*/
    width: 100%;
}
.contenedor1{
    max-width: 70.65em;
   /* border: 1px solid red;*/
    margin-top: 100px;
    display: flex;
    justify-content: space-around;
}
.cardprincipal{
    
  /* border: 1px solid blue;*/
    width: 45%;
    line-height: 70px;
    display: flex;
    flex-wrap: wrap;
    display: inline-block;
   /* align-content: center;*/
   
}
/*.cardhola{
    
}*/
.info{
    width: 100%;
    margin: 100px 0px;
   /*border: 1px solid plum;*/

}
.info>h2{
    font-size: 35px;
}
.info>h1{
    font-size: 40px;
    color: #c9184a;
    font-weight: 800;
}
.cardprincipal img{
    width: 100%;
   
}
.about{
    text-decoration: none;
    color: white;
    list-style: none;
    text-decoration: none;
    color: white;
    list-style: none;
    padding: 10px 25px;
    margin-right: 40px;   
}

@media(max-width: 1071px){
    .contenedor1{
        flex-direction: column;
        margin-bottom: 0px;
    }
    .cardprincipal{
        width: 100%;
        text-align: center;
    }
    .cardprincipal img{
        width: 50%;
        margin-top: 0px;
    }
}
    
/****************************************/

/*************COMIENZA LA SECCION DE CONOCIMIENTOS**********/
.cajapadre{
    text-align: center;
    display: inline-block;
    display: flex;
    align-content: center;
   /* border: 1px solid white;*/
    width: 100%;

}
.cajapr{
  /*  border: 1px solid beige;*/
    margin-bottom: 150px;
    display: flex;
    justify-content: center;
    
}
.contenedor{
    max-width: 68.65em;
   /* border: 1px solid red;*/
}
.titulo{
    width: 60%;
    
    margin: 75px auto 20px auto;
   /*border: 1px solid black;*/
}
.titulo h1{
    width: 100%;
    font-size: 35px;
    font-weight: 800;
    /*border: 1px solid white;*/
    margin: 30px 0px;
}
.titulo p{
    width: 100%;
    letter-spacing: 0.2em;

}
.iconos{
    margin: 0px auto;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
  /*  border: 1px solid green;*/
    width: 100%;
    /*height: 60%;*/
   /**/
    
}
.proy{
    width: 100%;
   /* border: 1px solid red;*/
}
.cards{
    width: 20%;
    border: 1px solid #1e0943;
    margin: 15px;
    padding: 15px;
    display: inline-block;
    border-radius: 10px;
    background-color: #170635;
    min-width: 13em;
}

.cards img{
   /* width: 50%;*/
   /* height: 800px;*/
    padding-bottom: 25px;
    width: 40%;
    height: 40%;
}

figure{
    width: 100%;
   /* display: flex;
    flex-flow: column;
    padding: 5px;
    max-width: 220px;
    margin: auto;*/
}
.cards figcaption{
    font-weight: 800;
    font-size: 17px;
}
.bord:hover{
    border: 1px solid #c9184a;
    box-shadow: 1px 1px 5px #c9184a;
}
.cards:hover figure figcaption{
   /* */
    color: #c9184a;
    /*text-shadow: 1px 1px 1px #c9184a*/
}
/*.cards figure figcaption{
    color: #c9184a;
}*/

/*.cards>figure> .top{
    position: absolute;
  left: 0;
  transition: opacity 1.5s ease-in-out;
}
.cards >figure> .top >.sup:hover{
    opacity: 0;

}    */
/*@media(max-width: 833px){
    .cards{
        width: 13em;
    }*/


@media (max-width:537px){
    .cards figcaption{
        font-size: 12px;
    }
}
@media(max-width: 464px){
    .titulo h1{
        font-size: 25px ;
    }
    
}


/*****************************************************/


/****************************CITA MOTIVACIONAL************/
.cit{
    -webkit-box-shadow: inset -9px 0px 16px -6px rgba(255,255,255,1);
    -moz-box-shadow: inset -9px 0px 16px -6px rgba(255,255,255,1);
    box-shadow: inset -9px 0px 16px -6px rgba(255,255,255,1);
}
.cita{
    text-align: center;
    background-color: #c9184a;
    padding-top: 50px;
    padding-bottom: 50px;
    width: 100%;
   /* margin: 25px 0px 0px 0px;*/
    display: flex;
    justify-content: center;
    display: inline-block;
}
.cita img{
    width: 5%;
}
.cita p{
    /*border: 1px solid white;*/
    width: 80%;
    margin: 20px auto;
    font-size: 19px;
}
.cita h3{
    font-size: 25px;
    font-weight: 800;
}
/****************************************************************/


/**************SECCION MIS PROYECTOS****************************/
.pr{
    width: 18.75em;
    padding-bottom: 35px;
}
.pr img{
    width: 50%;
    height: 9.37em;
    padding-bottom: 25px;
}
.cards a{
    text-decoration: none;
    color: white;
    list-style: none;
}



/****************************************************************/

/*********************SECCION CONTACTAME***********************/
            /***************contacto*******/

.contacto{
    width: 90%;
    max-width: 68.65em;
    border: 1px solid #1e0943;
    background-color: #170635;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 80px;
   
}
.cardcont{
    /*justify-content: center;*/
   margin: 80px auto;
   line-height: normal;
   width: 40%;
  /* border: 1px solid blue;*/
    display: flex;
    display: inline-block;
    justify-content: center;
   
}
.ct{
    margin-left: 100px;
}
.fr{
    margin-right: 100px;
}
.tc{
    width: 100%;
    margin: 30px 0px;
}
.tc h1{
    margin-left: 10px;
}
.tc p{
    margin: 40px 10px 30px 10px;
    
    font-size: 20px;
    letter-spacing: 2px;
}
.link{
    list-style: none;
    line-height: 55px;
    margin-top: 25px;
    margin-left: 9px;
  /* border: 1px solid green;*/
}
/*.red{
    border: 1px solid red
}
.redlink{
    border: 1px solid blue;
    width: 100%;
    height: 100%;
}*/
/*.link>li>a>img{
    width: 4%;
    margin-right: 13px;
}*/


.icon{
    line-height: 0.5em;
    margin-top: 30px;
    /*border: 1px solid brown;*/
    text-decoration: none;
    display: flex;
    align-items: center;
    
}
.fab, .fas{
    color: #c9184a;
    width: 1.5em;
    font-size: 1.5em;
    line-height: 10em;
    transition: 0.3s;
}
.icon:hover{
    color: #c9184a;
    /*box-shadow: 1px 1px 5px #c9184a;
    
    border-radius: 18px;
    padding: 15px;*/
    
}
.icon:hover .fab{
   text-shadow: 1px 1px 20px #c9184a;
   color: white;
}
.icon:hover .fas{
    text-shadow: 1px 1px 20px #c9184a;
    color: white;
 }

    
            /******************************/

.cardcont .tit{
    font-size: 35px;
    font-weight: 800;
   /* border: 1px solid white;*/
    margin: 30px 10px;
}
/*.form{
    margin-bottom: 80px;
}*/
.divform{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    
  /*  border: 1px solid rosybrown;*/
    
}
.cardform{/*
    display: inline-block;*/
    display: flex;
    flex-wrap: wrap;
   
    width: 100%;
   /* height: 200%;*/
    /*margin: 5px;*/
   /* border: 1px solid red;*/

}
.carddatos{
    display: flex;
    flex-direction: column;
    width: 95%;
   /* margin: 10px;*/
   /* border: 1px solid green;*/
}
/*.first{
    justify-content: space-around;
    
}*/
.sub{
   width: 45%;
   /*border: 1px solid salmon;*/
   /* margin: 5px;*/
}
.first{
    margin-right: 20px;
}
.dato{
    border-radius: 15px;
    width: 100%;
    height: 1.8em;
    border: 0;
    padding-left: 10px ;
    box-shadow: none;
}
.dato:focus{
    box-shadow: 0px 0px 10px #c9184a;
    outline: none;
}
.width{
    width: 100%;
}
.coment{
    height: 5em;
    padding-top: 5px;
}
textarea{
    color: gray;
}
.send{
    margin: 15px 0px;
    background-color: #c9184a;
    border-radius: 18px;
    width: 7em;
    height: 2em;
    border: 0;
    color: white;
}
.send:hover{
    background-color: #E64A76
}
label{
    font-size: 20px;
    letter-spacing: 2px;
}
input{
    color: rgb(94, 90, 90);
}

/********************************************************/


/**********************Inicia mi pie de pagina***********/
footer{
    margin-top: 100px;
    background-color: #c9184a;
    width: 100%;
    height: 20%;
}
.home{
    text-align: center;
}
.navhome{
    padding-top: 25px;
}
.navft{
    display: inline-block;
    margin-right: 15px;
    
}
.linkft{
    text-decoration: none;
    font-size: 0.8em;
}
.icons{
    align-items: center;
    padding: 35px 25px 25px 25px;
}
.ic{
    color: white;
    font-size: 1.5em;
    margin-right: 0px ;
    border: 1px solid white;
    border-radius: 50%;
    padding: 10px 5px;

}
.ic:hover{
    color: #c9184a;
    background-color: white;
}
.pie{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    /*border: 1px solid black;*/
}
.final{
    text-align: center;
    padding-bottom: 25px;
    padding-top: 10px;
}
.heart{
    font-size: 0.8em;
    border: none;
}

@media(max-width: 1113px){
    .contacto{
        flex-direction: column;
        text-align: center;
        margin-top: 0px;
      /*  border: 1px solid red;*/
    }
    .cardcont{
        width: 80%;
        justify-content: center;
    }
    .ct{
        margin-bottom: 0px;
    }
    .link{
        flex-wrap: wrap;
        width: 100%;
        height: 200px;
       /* height: 10%;*/
        margin: 0px auto;
      /*  border: 1px solid white;*/
    
    }
   .red{
       width: 30%;
       /*border: 1px solid white;*/
       display: inline-block;
       padding-left: 50px;
   }

}

/******************RESPONSIVE***************/

