*{
    margin: 0;
    padding: 0;
    color: white;
    font-family: 'Montserrat', sans-serif;
    font-size: 1em;
}
body{
    background-color: #10002b;
    width: 100%;
    -webkit-box-shadow: inset -9px 0px 20px -6px black;
    -moz-box-shadow: inset -9px 0px 20px -6px black;
    box-shadow: inset -9px 0px 20px -6px black;
}
/*********COMIENZA BARRA DE NAVEGACION**********/
nav{
    display: flex;
    justify-content: flex-end;
    padding: 1.25em 0;
    position: fixed;
    width: 100%;
   /* overflow: hidden;*/
    text-align: center;
    box-shadow: 1px 1px 20px black;
    background-color: #10002b;
    
    
}
nav a{
    text-decoration: none;
    color: white;
    list-style: none;
    display: inline-block;
    padding: 0.43em 0.87em 0.5em 0.87em;
    margin-right: 2.5em;
   /* border: 1px solid white;*/
    
}
nav a:hover{
    color: #c9184a ;
}
.boton{
    background-color: #c9184a;
    border-radius: 1.12em;
    width: 7em;
    height: 1.2em;
}
.boton:hover{
    color: white;
    background-color: #E64A76;
}

@media (max-width: 691px){
    nav, .nav{
       display: none;
    }
   
}
/*************FINALIZA BARRA DE NAVEGACION************/


/*************COMIENZA LA SECCION SOBRE MI**********/
.first-section{
    display: flex;
    justify-content: center;
    /*border: 1px solid black;*/
    width: 100%;
}
.first-container{
    max-width: 70.65em;
   /* border: 1px solid red;*/
    margin-top: 6.25em;
    display: flex;
    justify-content: space-around;
}
.card-start{
    
  /* border: 1px solid blue;*/
    width: 45%;
    line-height: 4.37em;
    display: flex;
    flex-wrap: wrap;
    display: inline-block;
   /* align-content: center;*/
   
}
/*.cardhola{
    
}*/
.info{
    width: 100%;
    margin: 6.25em 0;
   /*border: 1px solid plum;*/

}
.info>h2{
    font-size: 2.18em;
}
.info>h1{
    font-size: 2.5em;
    color: #c9184a;
    font-weight: 800;
}
.card-start img{
    width: 100%;
   
}
.about{
    text-decoration: none;
    color: white;
    list-style: none;
    text-decoration: none;
    color: white;
   
    padding: 0.62em 1.56em;
    margin-right: 2.5em;   
}

@media(max-width: 1071px){
    .first-container{
        flex-direction: column;
        margin-bottom: 0;
    }
    .card-start{
        width: 100%;
        text-align: center;
    }
    .card-start img{
        width: 50%;
        margin-top: 0;
    }
    .about{
        margin: 1px auto;
    }
}
@media (max-width: 691px){
    .first-container{
        margin-top: 0;
    }
}
@media (max-width: 500px){
    .info p {
        width: 90%;
        line-height: 2em;
        margin: 1.25em auto;
    }

}
/****************************************/

/*************COMIENZA LA SECCION DE CONOCIMIENTOS**********/
.section-icons{
    text-align: center;
    display: inline-block;
    display: flex;
    align-content: center;
   /* border: 1px solid white;*/
    width: 100%;
margin-bottom: 9.37em;
    display: flex;
    justify-content: center;
}

.container{
    max-width: 68.65em;
   /* border: 1px solid red;*/
}
.tittle{
    width: 60%;
    
    margin: 4.68em auto 1.25em auto;
   /*border: 1px solid black;*/
}
.tittle h1{
    width: 100%;
    font-size: 2.18em;
    font-weight: 800;
    /*border: 1px solid white;*/
    margin: 1em 0;
}
.tittle p{
    width: 100%;
    letter-spacing: 0.2em;
    margin-bottom: 2.5em;

}
.iconos{
    margin: 0 auto;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
  /*  border: 1px solid green;*/
    width: 100%;
    /*height: 60%;*/
   /**/
    
}
.box-know{
    width: 100%;
   /* border: 1px solid red;*/
}
.card-icon{
    width: 20%;
    border: 1px solid #1e0943;
    margin: 0.93em;
    padding: 0.93em;
    display: inline-block;
    border-radius: 0.62em;
    background-color: #170635;
    min-width: 13em;
}

.card-icon img{
   /* width: 50%;*/
   /* height: 800px;*/
    padding-bottom: 1.56em;
    width: 40%;
    height: 40%;
}

figure{
    width: 100%;
   /* display: flex;
    flex-flow: column;
    padding: 5px;
    max-width: 220px;
    margin: auto;*/
}
.card-icon figcaption{
    font-weight: 800;
    font-size: 1.06em;
}
.bord:hover{
    border: 1px solid #c9184a;
    box-shadow: 1px 1px 5px #c9184a;
}
.card-icon:hover figure figcaption{
   /* */
    color: #c9184a;
    /*text-shadow: 1px 1px 1px #c9184a*/
}
/*.cards figure figcaption{
    color: #c9184a;
}*/

/*.cards>figure> .top{
    position: absolute;
  left: 0;
  transition: opacity 1.5s ease-in-out;
}
.cards >figure> .top >.sup:hover{
    opacity: 0;

}    */
/*@media(max-width: 833px){
    .cards{
        width: 13em;
    }*/


@media (max-width:537px){
    .card-icon figcaption{
        font-size: 0.75em;
    }
}
@media(max-width: 464px){
    .tittle h1{
        font-size: 1.56em ;
    }
    
}


/*****************************************************/


/****************************CITA MOTIVACIONAL************/
.section-cita{
    -webkit-box-shadow: inset -9px 0px 16px -6px rgba(255,255,255,1);
    -moz-box-shadow: inset -9px 0px 16px -6px rgba(255,255,255,1);
    box-shadow: inset -9px 0px 16px -6px rgba(255,255,255,1);
}
.container-cita{
    box-sizing: border-box;
    text-align: center;
    background-color: #c9184a;
    padding-top: 3.12em;
    padding-bottom: 3.12em;
    width: 100%;
   /* margin: 25px 0px 0px 0px;*/
    display: flex;
    justify-content: center;
    display: inline-block;
}
.container-cita img{
    width: 5%;
}
.container-cita p{
    /*border: 1px solid white;*/
    width: 80%;
    margin: 1.25em auto;
    font-size: 1.18em;
}
.container-cita h3{
    font-size: 1.56em;
    font-weight: 800;
}
/****************************************************************/


/**************SECCION MIS PROYECTOS****************************/

.card-proyect{
    width: 18.75em;
    padding-bottom: 2.18em;
}
.card-proyect img{
    width: 50%;
    height: 9.37em;
    padding-bottom: 1.56em;
}
.card-icon a{
    text-decoration: none;
    color: white;
    list-style: none;
}
.box-icon{
    justify-content: space-between;
}
@media(max-width: 1084px){
    .proyect{
        max-width: 46em;
        /*border: 1px solid orange;*/
        display: flex;
        flex-wrap: wrap;
        justify-content: start;
        
    }
}
@media(max-width: 803px){
    .proyect{
        justify-content: center;
    }

}
@media(max-width: 724px){
    .box-icon{
        justify-content: center;
    }

}

/****************************************************************/

/*********************SECCION CONTACTAME***********************/
            /***************contacto*******/

.container-contact{
    width: 90%;
    max-width: 68.65em;
    border: 1px solid #1e0943;
    background-color: #170635;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 0.62em;
   
}
.card-contact{
    /*justify-content: center;*/
    margin: 3.12em auto;
    line-height: normal;
    width: 40%;
    /*border: 1px solid blue;*/
    display: flex;
    display: inline-block;
    justify-content: center;
   
}
.box-contact{
    margin-left: 6.25em;
    
}

.tc{
    width: 100%;
    margin: 0;
    
}
.tc h1{
    margin: 0.9em 0.62em 0 0.2em;
    /*margin-left: 10px;border: 1px solid blue;*/
    
}
.tc p{
    margin: 1.87em 0.4em;
    font-size: 1.25em;
    letter-spacing: 0.1em;
}
.link{
    list-style: none;
    line-height: 3.43em;
    margin-top: 1.56em;
    margin-left: 0.56em;
  /* border: 1px solid green;*/
}
/*.red{
    border: 1px solid red
}
.redlink{
    border: 1px solid blue;
    width: 100%;
    height: 100%;
}*/
/*.link>li>a>img{
    width: 4%;
    margin-right: 13px;
}*/


.icon{
    line-height: 0.5em;
    margin-top: 1.87em;
    /*border: 1px solid brown;*/
    text-decoration: none;
    display: flex;
    align-items: center;
    
}
.fab, .fas{
    color: #c9184a;
    width: 1.5em;
    font-size: 1.5em;
    line-height: 10em;
    transition: 0.3s;
}
.icon:hover{
    color: #c9184a;
    /*box-shadow: 1px 1px 5px #c9184a;
    
    border-radius: 18px;
    padding: 15px;*/
    
}
.icon:hover .fab{
   text-shadow: 1px 1px 20px #c9184a;
   color: white;
}
.icon:hover .fas{
    text-shadow: 1px 1px 20px #c9184a;
    color: white;
 }

    
            /******************************/

.card-form{
    margin-right: 6.25em;
}
.card-contact .tit{
    font-size: 2.18em;
    font-weight: 800;
   /* border: 1px solid white;*/
    margin: 0.97em 0;
}
/*.form{
    margin-bottom: 80px;
}*/
.divform{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    
  /*  border: 1px solid rosybrown;*/
    
}
.box-date {/*
    display: inline-block;*/
    display: flex;
    flex-wrap: wrap;
   
    width: 100%;
   /* height: 200%;*/
    /*margin: 5px;*/
   /* border: 1px solid red;*/

}
.datos{
    display: flex;
    flex-direction: column;
    width: 95%;
    margin-bottom: 0.93em;
   /* margin: 10px;*/
   /* border: 1px solid green;*/
}
/*.first{
    justify-content: space-around;
    
}*/
.sub{
   width: 45%;
   /*border: 1px solid salmon;*/
   /* margin: 5px;*/
}
.first{
    margin-right: 1.25em;
    
}
.dato{
    border-radius: 0.93em;
    width: 100%;
    height: 2.2em;
    border: 0;
    padding-left: 0.62em ;
    box-shadow: none;
    transition: 0.3s;
}
.dato:focus{
    box-shadow: 0px 0px 10px #c9184a;
    outline: none;
    
}
.width{
    width: 100%;
}
.coment{
    height: 7em;
    padding-top: 0.31em;
}
textarea{
    color: gray;
}
.send{
    margin: 0.93em 0;
    background-color: #c9184a;
    border-radius: 1.12em;
    width: 7em;
    height: 2em;
    border: 0;
    color: white;
}
.send:hover{
    background-color: #E64A76
}
label{
    font-size: 1.25em;
    letter-spacing: 0.1em;
    margin-bottom: 0.18em;
}
input{
    color: rgb(94, 90, 90);
}
@media(max-width: 1113px){
    .container-contact{
        flex-direction: column;
        justify-content: center;
        text-align: center;
        margin-top: 0;
       /*border: 1px solid red;*/
    }
    .card-contact{
        width: 80%;
        justify-content: center;
       /* border: 1px solid purple;*/
        margin: 0 auto;

    }
    .ct{
        margin-bottom: 0;
    }
    .link{
        
        flex-wrap: wrap;
        width: 100%;
       /* height: 200px;*/
       /* height: 10%;*/
       justify-content: center;
        margin: 0 auto;
       /* border: 1px solid white;*/
    
    }
   .red{
       width: 40%;
      /* border: 1px solid blue;*/
       display: inline-block;
       text-align: center;
       padding-right: 0.62em;
   }
   .divform{
    /*border: 1px solid green;*/
    width: 100%;
    justify-content: center;
    text-align: left;
   }
   /*.carddatos{
   border: 1px solid pink;
   }*/
   .sub{
       width: 45%;
       margin: 0.31em auto;
   }

}
@media (max-width: 871px){
    .link{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;   
        width: 100%;   
    }
    .red{
        width: 50%;
    }
    
}
@media (max-width: 656px){
    .red{
        width: 70%;
        padding: 0;
    }

    .card-form{
        flex-direction: column;
    }
    .sub{
        width: 95%;
    }
}
@media (max-width: 436px){
    .red{
        width: 100%;
    }
}
/********************************************************/


/**********************Inicia mi pie de pagina***********/
footer{
    margin-top: 100px;
    background-color: #c9184a;
    width: 100%;
    height: 20%;
}
.home{
    text-align: center;
}
.navhome{
    padding-top: 25px;
}
.navft{
    display: inline-block;
    margin-right: 15px;
    
}
.linkft{
    text-decoration: none;
    font-size: 0.8em;
}
.icons{
    align-items: center;
    padding: 35px 25px 25px 25px;
}
.ic{
    color: white;
    font-size: 1.5em;
    margin-right: 0px ;
    border: 1px solid white;
    border-radius: 50%;
    padding: 10px 5px;

}
.ic:hover{
    color: #c9184a;
    background-color: white;
}
.pie{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    /*border: 1px solid black;*/
}
.final{
    text-align: center;
    padding-bottom: 25px;
    padding-top: 10px;
}
.heart{
    font-size: 0.8em;
    border: none;
    color:white;
    margin-right: 2px;
}
@media (max-width: 691px){
    .nav{
       display: none;
    }
   
}
/**********************/
/*.casa{
    display: ;
    position: fixed;
    bottom: 50px;
    right: 0px;

}*/

/**************************************************************/